<html ng-app="enquete">
    <head>
        <style>
            body { position: absolute; left: 50%; margin-left: -45%; width: 90%; }
            h1 { position: absolute; top: 67px; left: -120px; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform: rotate(270deg); }
            input { padding: 5px; }
            input[type=text] { min-width: 244px; padding: 7px; }
            section { float: left; border: 1px solid #f2f2f2; margin-right: 5px; padding: 5px; }
            section li { list-style: none; margin-left: -39px; }
            section label { display: block; margin: 10px 0px 5px; }
            section#titulo { width: 20%; }
            section#enquete { width: 70%; }
            section#enquete div { clear: both; width: 100%; text-align: center; background: #f2f2f2; }
            section#enquete input { width: 317px; }
            section#enquete input[type=button] { width: 150px; }
            section#enquete span { float: left; width: 87%; padding: 7px 0px 7px 5px; }
            section#enquete ul { border: 1px solid #f2f2f2; }
            section#enquete ul li { padding: 5px; }
            section#enquete ul li ol { background-color: #CCFFB2; }
            section#enquete ul li ol li:hover { background-color: #cecece; }
            /**/
            section#enquete ul li input[type=button],
            section#enquete form  input[type=button],
            section#resposta form input[type=button] { width: 45px; }
            /**/
            section#pergunta, section#resposta { width: 49%; padding: 0px; border: 0px; }
            .added { background-color: #E0FFD1; }
        </style>
    </head>
    <body ng-controller="EnqueteController">
        <h1>Prototype</h1>
        <section id="titulo">
            <form>
                <label>Titulo</label>
                <input type="text" name="titulo" ng-model="filter.enquete.titulo" />
            </form>
            <ul>
                {% verbatim %}
                    <li ng-repeat="enquete in enquetes track by $index">
                        <a href="#{{enquete.id}}" ng-click="edit(enquete)">{{enquete.titulo}}</a>
                    </li>
                {% endverbatim %}
            </ul>
        </section>

        <section id="enquete">
            <form>
                <label for="titulo">Título</label>
                <input type="text" name="titulo" ng-model="enquete.titulo" />
            </form>

            <section id="pergunta">
                <form>
                    <label for="pergunta">Pergunta</label>
                    <input type="text" name="pergunta" ng-model="pergunta.pergunta" />
                    <input type="button" value="Clean" ng-click="perguntaClean()" />
                    <input type="button" value="Add" ng-click="perguntaAdicionar(pergunta)" />
                    <input type="button" value="X" ng-click="perguntaRemover(pergunta)" />
                </form>

                <label>Perguntas</label>
                <ul>
                    {% verbatim %}
                        <li ng-class="pergunta.style" ng-repeat="pergunta in perguntas track by $index">
                            <span ng-click="perguntaToScope(pergunta)">{{pergunta.pergunta}}</span>
                            <input type="button" value="X" ng-click="perguntaRemover(pergunta)" />
                            <ol ng-show="pergunta.selecionada">
                                <li ng-repeat="resposta in pergunta.respostas track by $index">
                                    <span>{{resposta.resposta}}</span>
                                    <input type="button" value="X" ng-click="perguntaRespostaRemover(pergunta, resposta)" />
                                </li>
                            </ol>
                        </li>
                    {% endverbatim %}
                </ul>
            </section>
            <section id="resposta">
                <form>
                    <label for="resposta">Resposta</label>
                    <input type="text" name="resposta" ng-model="resposta.resposta" />
                    <input type="button" value="Clean" ng-click="respostaClean()" />
                    <input type="button" value="Add" ng-click="respostaAdd(resposta)" />
                    <input type="button" value="X" ng-click="respostaRemove(resposta)" />
                </form>
                <label>Respostas</label>
                <ul>
                    {% verbatim %}
                        <li ng-repeat="resposta in respostas track by $index">
                            <span ng-click="respostaEdit(resposta)">{{resposta.resposta}}</span>
                            <input type="button" value="Add" ng-click="perguntaRespostaAdicionar(resposta)" />
                        </li>
                    {% endverbatim %}
                </ul>
            </section>
            <div>
                <input type="button" value="clean" ng-click="clean(enquete)" />
                <input type="button" value="save" ng-click="save(enquete)" />
            </div>
        </section>

        {#% verbatim %}
                {{ enquete }}
        {% endverbatim %#}

        <script>var BASE_URL = "{{ app.request.getBaseURL() }}";</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="/bundles/fish/js/EnqueteController.js"></script>
        <script src="/bundles/fish/js/EnqueteService.js"></script>
        <script src="/bundles/fish/js/EnqueteModel.js"></script>
        <script src="/bundles/fish/js/PerguntaService.js"></script>
        <script src="/bundles/fish/js/RespostaService.js"></script>
    </body>
</html>
